<!DOCTYPE HTML>
<html>
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>You have the role as {{role}}</p>
{{#logged}}
<form method="post" action="/login">
    {{#error.length}}
    <p>Your username or password is invalid.</p>
    {{/error.length}}
    <div><label> 用户名 : <input type="text" name="username"/> </label></div>
    <div><label> 密  码 : <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="登录"/></div>
</form>
<form method="get" action="/registration">
    <div><input type="submit" value="注册"/></div>
</form>
{{/logged}}
{{^logged}}
<form method="post" action="/logout">
    <div><input type="submit" value="退出"/></div>
    {{#logout.length}}
    <p>You have been logged out successfully.</p>
    {{/logout.length}}
</form>
{{/logged}}
</body>
</html>