<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JSON Parser</title>
    <script src="js/jquery.js"></script>
</head>
<body>
<div>
    <label for="json"><textarea name="json" id="json" cols="30" rows="10"></textarea></label>
</div>
<button id="submit">Submit</button>
<p id="result"></p>
<script>
    $("#submit").click(function (e) {
        $.ajax({
            url: "/api/json",
            type: "GET",
            contentType: "application/json",
            data: {"str": $("#json").val()},
            success: function (data) {
                $("#result").text(data)
            },
            error: function () {
                console.log("error")
            }
        })
    })
</script>

</body>
</html>