<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Registration</title>
</head>
<body>
<form method="post" action="/registration" object="userForm">
    <div><label> 用户名 : <input type="text" name="username"/> </label></div>
    <div><label> 密  码 : <input type="password" name="password"/> </label></div>
    <div><label> 确认密码 : <input type="password" name="passwordConfirm"/> </label></div>
    <div><input type="submit" value="注册"/></div>
</form>
</body>
</html>