<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game History</title>
    <link type="text/css" href="css/bootstrap.css" rel="stylesheet"/>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/sockjs.min.js"></script>
    <script src="/js/stomp.min.js"></script>
</head>
<body>
<span>Hello user, here you can check your game ranking: </span>
<br/>
At time: <span id="time"></span>
<br/>
You are in the top <span id="rank">0</span> % !
<br/>
<button id="btn" onclick="send()">Finish Game</button>

<script type="text/javascript">
    function connectMQ() {
        const ws = new WebSocket('ws://' + window.location.hostname + ':15674/ws');
        const client = Stomp.over(ws);
        client.debug = null;
        // client.heartbeat.outgoing = 0;
        // client.heartbeat.incoming = 0;

        const on_connect = function () {
            console.log('connected');
            client.subscribe('/exchange/direct.exchange/rank.routingKey', function (data) {
                let json = JSON.parse(data.body);
                $("#time").html(json.time);
                $("#rank").html(json.rank);
            });
        };

        const on_error = function () {
            console.log('error');
            // connectMQ();
        };

        client.connect('guest', 'guest', on_connect, on_error, '/');
    }

    connectMQ();

    const send = function () {
        $.ajax({
            url: "/send",
            type: "GET",
            success: function (data) {
            },
            error: function () {
                console.log('error');
            }
        })
    };
</script>
</body>
</html>