<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notification</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
Hello user, there will be some messages for you:
<div id="content">

</div>

<button id="btn" onclick="send()">Send Me</button>

<script type="text/javascript">
    var ws = new WebSocket('ws://rabbitmq:15674/ws');
    var client = Stomp.over(ws);
    client.heartbeat.outgoing = 0;
    client.heartbeat.incoming = 0;
    var on_connect = function () {
        console.log('connected');
        client.subscribe("/exchange/rank.exchange/rank.routingKey", function (data) {
            var msg = data.body;
            $("#content").html(msg);
            console.log("收到数据：" + msg);
        });
    };
    var on_error = function () {
        console.log('error');
    };
    client.connect('guest', 'guest', on_connect, on_error, '/');

    var send = function () {
        $.ajax({
            url: "/send",
            type: "GET",
            success: function (data) {
                console.log(data);
            },
            error: function () {
                console.log("error");
            }
        })
    }
</script>
</body>
</html>